.upload_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:50vw;
    height:50vw;
}

.form_wrapper {
    display:flex;
    flex-direction: column;
    width:50vw;
    margin:0 auto;
}

.preview {
    width: 50vw;
}

.palette {
    display:flex;
    flex-direction: column;
    width:30vw;
    font-size:2vw;
}
.palette div { 
    width: 20px; 
    height: 20px; 
    background-color: var(--color);
    margin: 2px;
}

.palette div:after {
        content: attr(color);
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 24px;
        white-space: nowrap;
    }

.list_container {
    display: flex;
    flex: row;
}


.threadList {
    width: 60vw;
    font-size:1.70vw;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:-1vw;
}

.list_wrapper {
    list-style-type: none;
}

.list_item {
    margin-bottom:1.10vw;
    float:left;
}