
.logo {
    width: 25vw;
}

html {
    background-image:url(../stitches/cloth-bckg2.jpg);
    background-size:cover;
    font-family: 'Quicksand', sans-serif;
}

input[type=file] {
    padding:10px;
    border: 2px solid #1a64ac;
    border-radius:15px;
    box-shadow:0 0 5px 4px rgba(0,0,0,0.06);
  } 

.stitchform_header {
    color: white;
    font-weight:bold;
    text-align: center;
}



.upload_container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width: 800px;
    height:auto;
    background-color: rgba(255,255,255,0.5);
    border:transparent;
    border-radius: 15px;
}

.form_wrapper {
    display:flex;
    flex-direction: column;
  
}

.preview {
    width: 500px;
    height:auto;
}

.list1 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list2 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list3 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list4 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list5 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list6 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list7 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list8 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list9 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}
.list10 {
    background-color: var(--hue);
    width:50px;
    height:30px;
}

.palette {
    display:flex;
    flex-direction: column;
    width:200px;
}
.palette div { 
    color:white;
    width: 200px;  
    margin-top:1vw;
    background-color: var(--color);
    margin: 2px;
}

.palette div:after {
        content: attr(color);
        margin-left: 24px;
        margin-top:1vw;
        white-space: nowrap;
    }

.list_wrapper {
    margin-top:2vw;
 
}

.list_item {
    margin-top:1vw;
    text-align:left;
    padding-left: 10px;
    width:280px;
    font-size: 18px;
    background-color:white;
    border:transparent;
    border-radius: 10px;
}

.swatch_dmc {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.submit_wrapper {
    margin-top:3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_content {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

.card {
    border: 2px solid gray;
}

.card_edit {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.card_edit img {
    width:40vw;
}

.palette_edit {
    display: flex;
    flex-direction: column;
}

.card_img {
    width:50vw;
}

.button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30 vw;
    margin-bottom: 2vw;
}