.card {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card_content {
    margin-top:10vw;

}

.card_img {
    width: 350 px;
}

 h3 {
    font-weight: bold;
    text-align: center;
}


.palette {
    display: flex;
    flex-direction: row;}

.rgb_values {
    width:50 px;
    display: flex;
    flex-direction: column;
}

.rgb_values p {
    font-size:smaller;
    display: flex;
    flex-direction: row;
}

.dmc_threadvalues {
   font-size:smaller;
    display: flex;
    flex-direction: column;
}

.dmc_threadvalues p {
    display:flex;
    flex-direction: row;
   
}

.button_wrapper {
    width:350 px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}