
.card_edit {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.card_edit img {
    width:40vw;
}

.palette_edit {
    display: flex;
    flex-direction: column;
}
